<app-navbar [role]="'company'"></app-navbar>

<div class="updates-page">
  <div class="list-container">
    <div class="header">
      <h2 class="page-title">
        <i class="fa-solid fa-list-check"></i>
        Actualizaciones de la práctica
      </h2>
    </div>

    <div class="empty" *ngIf="updates.length === 0">
      No hay actualizaciones registradas
    </div>

    <div class="cards-grid">
      <div *ngFor="let update of updates" class="card">
        <h3>
          <i class="fa-solid fa-clipboard-check"></i>
          {{ update.title }}
        </h3>

        <p class="description">
          <i class="fa-solid fa-file-lines"></i>
          {{ update.description }}
        </p>

        <hr />

        <!-- NÚMERO DE PRÁCTICA -->
        <div class="info-row">
          <i class="fa-solid fa-briefcase"></i>
          <b>Práctica #:</b>
          {{ update.internshipId }}
        </div>

        <!-- FECHAS -->
        <div class="dates-container">
          <div class="info-row">
            <i class="fa-solid fa-clock"></i>
            <b>Creado:</b>
            {{ update.createdAt | date: "yyyy-MM-dd HH:mm" }}
          </div>

          <div class="info-row">
            <i class="fa-solid fa-clock-rotate-left"></i>
            <b>Actualizado:</b>
            {{ update.updatedAt | date: "yyyy-MM-dd HH:mm" }}
          </div>
        </div>

        <div class="actions">
          <button class="btn-update" (click)="updateInternshipUpdate(update)">
            <i class="fa-solid fa-pen-to-square"></i>
            Actualizar
          </button>

          <button
            class="btn-delete"
            (click)="deleteInternshipUpdate(update.id)"
          >
            <i class="fa-solid fa-trash"></i>
            Eliminar
          </button>
        </div>
      </div>
    </div>

    <div class="pagination-container" *ngIf="pageCount > 1">
      <button
        class="pagination-btn"
        (click)="previousPage()"
        [disabled]="!hasPrev"
      >
        <i class="fa-solid fa-chevron-left"></i>
        Anterior
      </button>

      <select
        class="pagination-select"
        [value]="page"
        (change)="goToPage(+$any($event.target).value)"
      >
        <option *ngFor="let p of pages" [value]="p">
          Página {{ p }} de {{ pageCount }}
        </option>
      </select>

      <button class="pagination-btn" (click)="nextPage()" [disabled]="!hasNext">
        Siguiente
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
