.updates-page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 40px 20px 20px;
  background: #f4f6f9;
  font-family: "Segoe UI", sans-serif;
}

.list-container {
  width: 100%;
}

.header {
  width: 100%;
}

.page-title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 30px;
}

.empty {
  text-align: center;
  padding: 20px;
  color: #64748b;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  border-left: 5px solid #16a34a;

  display: flex;
  flex-direction: column;
  gap: 10px;

  transition: all 0.2s ease;
}

.card:hover {
  transform: translateY(-3px);
}

.card h3 {
  margin: 0;
  color: #0f172a;
  font-size: 18px;
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: 8px;
}

.description {
  color: #475569;
  font-size: 14px;
  line-height: 1.6;
}

.info-row {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  color: #334155;
}

.info-row i {
  color: #16a34a;
  width: 18px;
}

hr {
  border: none;
  border-top: 1px solid #e2e8f0;
  margin: 8px 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.btn-update {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 6px;
}

.btn-update:hover {
  background: #1d4ed8;
}

.btn-delete {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 6px;
}

.btn-delete:hover {
  background: #dc2626;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pagination-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 10px 18px;
  border: none;
  border-radius: 10px;

  background-color: #2563eb;
  color: white;
  font-weight: 600;
  cursor: pointer;

  transition: all 0.2s ease;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #1d4ed8;
}

.pagination-btn:disabled {
  background-color: #cbd5e1;
  color: #64748b;
  cursor: not-allowed;
}

.pagination-select {
  min-width: 180px;

  padding: 10px 14px;

  border: 1px solid #cbd5e1;
  border-radius: 10px;

  background: white;

  font-size: 14px;
  font-weight: 500;
  color: #334155;
}

.pagination-select:focus {
  border-color: #2563eb;
  outline: none;
}
.btn-update i,
.btn-delete i,
.pagination-btn i {
  color: inherit !important;
}
.dates-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 6px;
}