<div class="role-page">
  <div class="back-button" (click)="goToRoles()">
    <i class="fa-solid fa-arrow-left back-icon"></i>
    <span class="back-text">Volver</span>
  </div>
  <div class="role-header">
    <h1>Escoge tu rol</h1>
    <p>Selecciona el perfil con el que deseas registrarte en Konekt.</p>
  </div>

  <div class="roles-container">
    <!-- Student -->
    <div class="role-item">
      <button class="role-card" type="button" (click)="goToStudentRegister()">
        <div class="card-image">
          <img src="images/estudiante.png" alt="Estudiante" />
        </div>

        <div class="card-content">
          <h2>Estudiante</h2>

          <div class="card-hover-info">
            <ul>
              <li>Acceso a oportunidades laborales.</li>
              <li>Conexión con empresas aliadas.</li>
              <li>Seguimiento de postulaciones.</li>
              <li>Construcción de perfil profesional.</li>
            </ul>
          </div>
        </div>
      </button>
    </div>

    <!-- Company -->
    <div class="role-item">
      <button class="role-card" type="button" (click)="goToCompanyRegister()">
        <div class="card-image">
          <img src="images/empresario.png" alt="Empresa" />
        </div>

        <div class="card-content">
          <h2>Empresa</h2>

          <div class="card-hover-info">
            <ul>
              <li>Publicación de vacantes.</li>
              <li>Búsqueda de talento universitario.</li>
              <li>Gestión de candidatos.</li>
            </ul>
          </div>
        </div>
      </button>
    </div>

    <!-- University -->
    <div class="role-item">
      <button
        class="role-card"
        type="button"
        (click)="goToUniversityRegister()"
      >
        <div class="card-image">
          <img src="images/universidad.jpg" alt="Universidad" />
        </div>

        <div class="card-content">
          <h2>Universidad</h2>

          <div class="card-hover-info">
            <ul>
              <li>Seguimiento de estudiantes.</li>
              <li>Vinculación con empresas.</li>
              <li>Impulso al ecosistema académico.</li>
              <li>Estadísticas de empleabilidad.</li>
            </ul>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
