<div class="university-register-page">
  <div class="university-register-container">
    <div class="logo-container">
      <img
        src="images/logo.png"
        alt="Logo Konekt"
        class="university-register-logo"
      />
    </div>

    <h2 class="university-register-title">Registro de Universidad</h2>

    <form class="university-register-form">
      <div class="form-group">
        <label>Nombre de la universidad</label>
        <input type="text" placeholder="Universidad..." />
      </div>

      <div class="form-group">
        <label>Facultad / Área</label>
        <input type="text" placeholder="Ingeniería, Administración..." />
      </div>

      <div class="form-group">
        <label>Nombre del responsable</label>
        <input type="text" placeholder="Nombre del coordinador" />
      </div>

      <div class="form-group">
        <label>Correo institucional</label>
        <input type="email" placeholder="coordinacion@uni.edu" />
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="********"
        />
      </div>

      <div class="form-group">
        <label>Confirmar contraseña</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="********"
        />
      </div>

      <div class="show-password">
        <input
          type="checkbox"
          id="showPassword"
          [(ngModel)]="showPassword"
          name="showPassword"
        />
        <label for="showPassword">Mostrar contraseña</label>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-register">
          Registrar universidad
        </button>

        <button type="button" class="btn-login-back" (click)="goToLogin()">
          Iniciar sesión
        </button>
      </div>
    </form>
  </div>
</div>
