<app-navbar [role]="'student'"></app-navbar>

<div class="dashboard-container">
  <div class="welcome-card">
    <h1>{{ studentName }}</h1>

    <p>Bienvenido a tu panel administrativo de estudiante.</p>
  </div>

  <div class="stats-grid">
    <div class="stat-card">
      <i class="fa-solid fa-file-lines"></i>

      <div>
        <h2>{{ totalApplications }}</h2>
        <span>Total postulaciones</span>
      </div>
    </div>

    <div class="stat-card">
      <i class="fa-solid fa-circle-check"></i>

      <div>
        <h2>{{ activeApplications }}</h2>
        <span>Activas</span>
      </div>
    </div>

    <div class="stat-card">
      <i class="fa-solid fa-pause-circle"></i>

      <div>
        <h2>{{ suspendedApplications }}</h2>
        <span>Suspendidas</span>
      </div>
    </div>

    <div class="stat-card">
      <i class="fa-solid fa-circle-xmark"></i>

      <div>
        <h2>{{ cancelledApplications }}</h2>
        <span>Cerradas</span>
      </div>
    </div>
  </div>

  <div class="content-grid">
    <div class="chart-card">
      <h3>Distribución de postulaciones</h3>

      <div class="chart-container">
        <canvas id="applicationsChart"></canvas>
      </div>
    </div>

    <div class="students-card">
      <h3>Últimas postulaciones</h3>

      <div *ngFor="let app of recentApplications" class="student-item">
        <div>
          <strong>
            {{ app.vacancie.title }}
          </strong>

          <p>
            {{ app.vacancie.company.name }}
          </p>
        </div>

        <span>
          {{ app.status }}
        </span>
      </div>
    </div>
  </div>
</div>
