<div class="company-register-page">
  <div class="company-register-container">
    <div class="logo-container">
      <img
        src="images/logo.png"
        alt="Logo Konekt"
        class="company-register-logo"
      />
    </div>

    <h2 class="company-register-title">Registro de Empresa</h2>

    <form class="company-register-form">
      <div class="form-group">
        <label>Nombre de la empresa</label>
        <input type="text" placeholder="Nombre de la empresa" />
      </div>

      <div class="form-group">
        <label>Correo corporativo</label>
        <input type="email" placeholder="empresa@correo.com" />
      </div>

      <div class="form-group">
        <label>Sector</label>
        <input type="text" placeholder="Tecnología, Finanzas, etc." />
      </div>

      <div class="form-group">
        <label>Nombre del contacto</label>
        <input type="text" placeholder="Nombre del responsable" />
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="********"
        />
      </div>

      <div class="form-group">
        <label>Confirmar contraseña</label>
        <input
          [type]="showPassword ? 'text' : 'password'"
          placeholder="********"
        />
      </div>

      <div class="show-password">
        <input
          type="checkbox"
          id="showPassword"
          [(ngModel)]="showPassword"
          name="showPassword"
        />
        <label for="showPassword">Mostrar contraseña</label>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn-register">Registrar empresa</button>

        <button type="button" class="btn-login-back" (click)="goToLogin()">
          Iniciar sesión
        </button>
      </div>
    </form>
  </div>
</div>
