<nav class="navbar">
  <div class="navbar-left">
    <img src="/images/logo.png" class="logo-img" alt="logo" />
  </div>

  <div class="navbar-center">
    <a
      *ngFor="let link of links;"
      [routerLink]="link.path"
      routerLinkActive="active"
      class="nav-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ link.label }}
    </a>
  </div>

  <div class="navbar-right">
    <button class="logout-btn" (click)="logout()">
      Cerrar sesión
    </button>
  </div>
</nav>