/* You can add global styles to this file, and also import other style files */
@import "@ng-select/ng-select/themes/default.theme.css";

.konekt-swal {
  font-family: "Inter", sans-serif !important;
}

.ng-select {
  width: 100%;
  font-size: 1rem;
}


.ng-select .ng-select-container {
  min-height: 46px;
  border-radius: 7px;
  border: 1px solid #d1d5db;
  background-color: #ffffff;
  transition: 0.3s;
}

.ng-select .ng-select-container:hover {
  border-color: #2563eb;
}

.ng-select.ng-select-focused .ng-select-container {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15);
}

.ng-select .ng-value-container {
  padding: 0.7rem 0.9rem !important;
  text-align: left;
}

.ng-select .ng-placeholder {
  color: #6b7280;
  text-align: left;
}

.ng-select .ng-value {
  color: #111827;
}

.ng-dropdown-panel {
  background-color: #ffffff !important;
  border: 1px solid #d1d5db;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ng-dropdown-panel-items {
  background-color: #ffffff !important;
}

.ng-dropdown-panel .ng-option {
  background-color: #ffffff !important;
  color: #111827 !important;
  padding: 0.75rem 1rem;
}

.ng-dropdown-panel .ng-option.ng-option-marked {
  background-color: #2563eb !important;
  color: #ffffff !important;
}

.ng-dropdown-panel .ng-option.ng-option-selected {
  background-color: #1d4ed8 !important;
  color: #ffffff !important;
  font-weight: 600;
}

.ng-select .ng-arrow-wrapper {
  position: absolute;
  right: 10px;
}
